<%= render '/menu' %>

<div class="shoppings">
  <h1 class='shop-title'>Shopping List</h1>
  <div class='flex-shop'>
    <h2 class='amount'>Amount of food items to buy: <%= @shoppings.length%></h2>
    <h2>Total value of food needed: $<%=@total_price%></h2>
  </div>
  <table class='shop-table'>
          <thead>
            <tr>
              <th>Food</th>
              <th>Quantity</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <% @shoppings.each do |shopping| %>
              <tr>
                <td><%= shopping.food.name %></td>
                <td><%= shopping.requiredQuantity %></td>
                <td>$<%= shopping.food.price * shopping.requiredQuantity%></td>
              </tr>
            <% end %>    
          </tbody>
    </table>
</div>