<%= render '/menu' %>

<div class="shoppings">
  <h2 class='shop-title'>Shopping List</h2>
  <div class='flex-shop'>
    <h4 class='amount'>Amount of food items to buy:<span><%= @shoppings.length%></span></h4>
    <h4>Total value of food needed:<span>$<%=@total_price%></span></h4>
  </div>
  <table class='shop-table'>
          <thead>
            <tr>
              <th>Food</th>
              <th>Quantity</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <% @shoppings.each do |shopping| %>
              <tr>
                <td><%= shopping.food.name %></td>
                <td><%= shopping.required_quantity %> <%=shopping.food.measurement_unit%></td>
                <td>$<%= shopping.food.price * shopping.required_quantity%></td>
              </tr>
            <% end %>    
          </tbody>
    </table>
</div>