<div class='new_recipe'>
    <h2 class= 'new_title'>Add Recipe</h2>
    <%= form_with model: @receipt, url: user_receipts_path(@user)  do |f| %>
     <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
     </div>
    <div class="field">
        <%= f.label :description %>
        <%= f.text_area :description %>
    </div>
    <div class="field">
        <%= f.label :preparation_time %>
        <%= f.number_field :preparation_time, step: :any %>
    </div>
    <div class="field">
        <%= f.label :cooking_time %>
        <%= f.number_field :cooking_time, step: :any %>
    </div>

    <div class="public-field">
        <%= f.check_box :public %>
        <%= f.label :public %>

    </div>
    <%= f.submit "submit",  class: "submit-btn"%>
    <% end %>
</div>

<div>
    <%= link_to user_receipts_path do %>
        <button>Back to Recipes</button>
    <% end %>
</div>